 #page-content-wrapper > .container, 
 #page-content-wrapper > .container-fluid, 
 #page-content-wrapper > .container-xxl, 
 #page-content-wrapper > .container-xl, 
 #page-content-wrapper > .container-lg, 
 #page-content-wrapper > .container-md, 
 #page-content-wrapper > .container-sm {
    padding-top: calc(var(--bs-gutter-x) * .5);
}

form table {
    width: 100%;
}

form ul.error {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #842029;
    background-color: #f8d7da;
    border: #842029;
    border-radius: .375rem;
}

form ul.error li {
    list-style:none;
}


